//type
$font-stack: 'Roboto',"Segoe UI","Helvetica Neue",-apple-system,BlinkMacSystemFont,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-weight--cat: 500;
$font-size--cat: 18px;

//color
$navy: #2a2e3e;
$card-bg: #fff;
$text--white: #fff;
$text--default: #344046;
$text--secondary: lighten($text--default, 15%);
$text--tertiary: lighten($text--secondary, 8%);
$text--card: $text--default;
$text--button: $navy;
$beige: #e5e8ef;
$page-bg: $beige;
$well-bg: darken($page-bg, 6%);
$button-bg: $well-bg;
$button-bg--hover: darken($button-bg, 4%);
$border-default: $well-bg;

$lessthan: #ab4f23;
$greaterthan: #438b5e;

//shadows
$card-shadow: 3px 4px 0px -1px rgba(70, 74, 80, 0.15);
$default-shadow: 1px 1px 0px 2px rgba(70, 74, 80, 0.15);

//spacing
$space-between-cards: 30px;
$page-padding-mobile: 2em;

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.4em, $lineCount: 3, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: left;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 6px;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 6px;
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

%text-overflow-ellipsis {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

$rounded-corner: 13px;
$slightlyrounded-corner: 8px;
$barelyrounded-corner: 3px;